#element {
  color: $color-blue;
  width: 80vw;

  .headLoop{
    justify-content: center;
    text-align: center;
    font-family: $font-text;
  }
}

#panelElement {
  position: absolute;
  width: 33.33%;
  display: contents;
}

#block{
  border: solid 2px $color-blue-middle;
  display: inline-block;
  margin: 5px;
  border-radius: $radius;
  width: 253px;
  height: 333px;
  font-family: $font-text;
}

.favorite-button{
  color: $color-blue;
  background: none;
  border:none;
  position:absolute;
  display: flex;
  padding-left: 230px;
  padding-top:10px;
}

.favorite-button::after {
  color: $color-favorite;
  font-weight: 900;
  font-size: 18px;
  margin: -300px 220px;
}

.description {
  padding-left: 10px;
  font-family: $font-text;
}

.title {
  font-family: $font-text;
  text-align: center;
}

.hidden{
  padding-top: 200px;
}

.loopImage {
  width: 228px;
  height: 175px;
  background-color: $color-blue-light;
  margin: auto;
}
