$color-white: #FFFFFF;
$color-blue-light: #F1F9FF;
$color-grey: #00000029;
$color-blue-middle: #BCE0FD;
$color-blue: #2699FB;
$color-blue-dark: #0075D8;
$color-favorite: #d8001d;

$font-text: Arial;

$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;

$transition: all 0.3s;
$radius: 5px;